
%form{:action => comments_create_url(:link_id => @link), :method => :post}
  = form_authenticity_field
  = hidden_field :comment, :link_id
  %div{ :class => 'commentsForm' }
    %p
      %label{ :for => "comment_author" }
        Author 
      = text_field :comment, :author
    %p
      %label{ :for => "comment_body" }
        Description
      = text_area :comment, :body, :rows => "8", :cols => "40"
    %p
      %input{ :name => "commit", :type => "submit", :value => "OK" }
