.link
  %span{ :id => "votes_count_X" }
    0
  %a{ :href=> "/votes/1/vote", :id => 'vote_link_X'}
    Votar

.details
  %h2
    %a{ :href => "/links/1" }
      Google
  %p
    URL:
    %a{ :href => "/links" }
    http://www.google.es
  %p
    Es un buscador
