%form#new_link.new_link{ :action => "/links", :method => "post" }
  %div{ :style => "margin:0;padding:0" }
    %input{ :name => "authenticity_token", :type => "hidden", :value => "93f4535c619d10069754220522c9850db0739e81" }/
  %p
    %label{ :for => "link_title" }
      Title
    %input#link_title{ :name => "link[title]", :size => "30", :type => "text" }/
  %p
    %label{ :for => "link_url" }
      Url
    %input#link_url{ :name => "link[url]", :size => "30", :type => "text" }/
  %p
    %label{ :for => "link_description" }
      Description
    %textarea#link_description{ :name => "link[description]", :rows => "8", :cols => "40" }
  %p
    %input{ :name => "commit", :type => "submit", :value => "OK" }/

